@import '~antd/dist/antd.css';

.App {
  width: 100vw;
  min-height: 100vh;
}

.page-container {
  width: 100%;
}

.divider {
  text-align: center;
}

.error-msg {
  width: 100%;
  
  p {
    color: red;
    text-align: center;
  }

}