.banner {
  width: 100%;
  padding: 80px 0px;
  min-height: calc(50vh - 74px);
  
  .greeting {
    padding-right: 32px;
    
    h1, h2 {
      text-align: left;
      width: 100%;
      font-weight: 600;
      cursor: default;
    }
    
    h1 {
      line-height: 56px;
      font-size: 64px;
      font-weight: 600;
      margin-bottom: 40px;
    }
    
    h2 {
      color: rgba(0, 0, 0, 0.75);
      font-size: 20px;
      line-height: 40px;
      margin-bottom: 0px;
    }

    p {
      text-align: left;
      width: 100%;
      color: rgba(0, 0, 0, 0.65);
      font-size: 20px;
      line-height: 40px;
      cursor: default;
      margin-bottom: 0px;
    }
  }
  
  .banner-login {
    padding-left: 32px;
    
    .session-form {
      padding: 0px;
      justify-content: flex-end !important;
      
      .form-header {
        display: none;
      }
    }
  }
}

  
@media screen and (max-width: 767px) {
  .banner {
    padding: 40px 0px !important;
    
    .greeting, .banner-login {
      padding: 0px;
    }
    
    .greeting {
      margin-bottom: 16px;
      
      h1 {
        text-align: center;
        line-height: 40px;
        font-size: 48px;
        margin-bottom: 24px;
      }

      h2, p {
        font-size: 24px;
        line-height: 40px;
      }
    }
    
    .form-wrapper, .greeting-wrapper {
      justify-content: center !important;
    }
    
    .banner-login {
      margin-top: 16px;
    }
  }
}